# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.bat

# excluded document types
*.markdown
*.psd
*.mdb

Source\.vs\*
*.vcxproj*
\Source\.vs\
Source/.vs/Biomatic/v16/.suo
*.db
*.opendb
*.log
*.lastbuildstate
bin/
obj/
.vs/
Doc/
*.cache
Source\obj\
Source/obj/
Source/.vs/MoarKerbals/v16/
Source/assets/
*.cache
*.suo
*.lock
*.idle

# archives
*.rar
*.7z
*.zip
