# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Source\.vs\*
*.vcxproj*
\Source\.vs\
Source/.vs/Biomatic/v16/.suo
*.db
*.opendb
*.log
*.lastbuildstate
*.rar
bin/
obj/
.vs/
*.7z
*.7z
*.zip
 *.rar
Doc/ *.bat *.markdown
*.psd
*.cache
Source\obj\
Source/obj/
Source/.vs/MoarKerbals/v16/
Source/assets/
